body {
    background-color: #5555ff;
}

h1 {
    color:  #ff6600;
    text-align: center;
    font-weight: bold;
}

form {
    margin-left:auto;
    margin-right:auto;
    background-color: #339900
}